body {background-color:black;
      font-family:arial;
      color:white;      
      /* background colour of body is set to black, font is set to arial and color of the font is set to white
         this will only affect the text in footer and not the text inside the div */
}
h1{color:grey;
   font-family: verdana;
   /*  h1 element text is set to font verdana and font colour is grey*/
}

.maindiv{
    background-color: white;
    color:black;
    width:500px;
    padding:20px; /* https://developer.mozilla.org/en-US/docs/Web/CSS/padding */
    border-radius: 25px; /* https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius */
    margin:0 auto; /* reference https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */
    /*CSS setting for class maindiv width is set to 500px against the suggested 300px 
    setting 300px will make the h1 text to show in two lines, the sample image shows the h1 text in one line hence used 500px
    */
}

.highlight{
    background-color:yellow;
    padding:0.1em 0.2em;
    /* used in the result,in span with class set to "hightlight" */
}
